




.navbar {
    padding: 10px;
    background: #ffffff;
}

.navbar li {
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 20px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
}

.navbar li a {
    color: #000;
    text-decoration: none;
}

h1 {
    font-size: 80px;
    color: rgb(0, 132, 255);
}


h2 {
    font-size: 60px;
    color: rgb(0, 132, 255);
}

.header {
    height: 100px;
    padding-top: 20px;
    padding-inline-start: 30px;
}

 
  
  #box1 {
    position: relative;
    width: 900px;
    height: 700px;
    top: 5%;
    left: 5%;
    background-color: white;
  }
  
  #box2 {
    position: relative;
    width: 400px;
    height: 600px;
    top: 5%;
    right: -50%;
    background-color: white;
  }



 

@media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  } */